## Implementing Simple Linear Regression Model

#### Importing the libraries

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#### Importing the dataset

In [6]:
dataset = pd.read_csv('Salary_Data.csv')

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [8]:
dataset.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

#### Checking null values

In [11]:
dataset.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

#### Splitting the dataset into training and testing set

In [52]:
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1:].values

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33, random_state=0)

#### Training the simple linear regression model on the training dataset

In [55]:
from sklearn.linear_model import LinearRegression

In [56]:
regression = LinearRegression()
regression.fit(X_train, y_train)

LinearRegression()

#### Now, predicting the result on the test dataset

In [57]:
predictions = regression.predict(X_test)

In [58]:
predictions

array([[ 40835.10590871],
       [123079.39940819],
       [ 65134.55626083],
       [ 63265.36777221],
       [115602.64545369],
       [108125.8914992 ],
       [116537.23969801],
       [ 64199.96201652],
       [ 76349.68719258],
       [100649.1375447 ]])

#### Printng the actual and preicted result side by side:

In [69]:
print(f"So, the actual and the predicted result of the model is: \n \n {np.concatenate((y_test, predictions),axis=1)}")

So, the actual and the predicted result of the model is:

 [[ 37731.          40835.10590871]
 [122391.         123079.39940819]
 [ 57081.          65134.55626083]
 [ 63218.          63265.36777221]
 [116969.         115602.64545369]
 [109431.         108125.8914992 ]
 [112635.         116537.23969801]
 [ 55794.          64199.96201652]
 [ 83088.          76349.68719258]
 [101302.         100649.1375447 ]]

In [79]:
print(f"So, if you have 1.2 years of experience then as per the model your salary is: {round(regression.predict([[1.2]])[0][0],2)}")

So, if you have 1.2 years of experience then as per the model your salary is: 38031.32